streamlit>=1.50,<2
pandas>=2.2,<3
sqlalchemy>=2.0,<3
psycopg[binary]>=3.2,<4
bcrypt>=4.2,<5
alembic>=1.16,<2
plotly>=6,<7
extra-streamlit-components>=0.1,<1
reportlab>=4.3,<5
python-dotenv>=1.0,<2
openpyxl>=3.1,<4
psycopg2-binary>=2.9,<3